

<div class="container">
  <h2>CATEGORIES</h2>
  <div class="row">
    <div class="col-xs-12 col-lg-4">
      <div class="category-block">
        <%= image_tag 'electronics.png', class: 'category-image' %>
        <h4><%= link_to "Electronics", items_path%></h4>
      </div>
    </div>

    <div class="col-xs-12 col-lg-4">
      <div class="category-block">
        <%= image_tag 'home-garden.png', class: 'category-image' %>
        <h4><%= link_to "Home & Garden", items_path %></h4>
      </div>
    </div>

    <div class="col-xs-12 col-lg-4">
      <div class="category-block">
        <%= image_tag 'outdoors.png', class: 'category-image' %>
        <h4><%= link_to "Outdoors", items_path %></h4>
      </div>
    </div>

  </div>
</div>

