  <div class="tabs-container">
    <div class="tabs">
      <div class="tab active">
        <%= link_to 'Dashboard', dashboard_path %>
      </div>
      <div class="tab">
        <%= link_to 'Calendar', calendar_path %>
      </div>
      <div class="tab">
        <%= link_to 'Messages', messages_path %>
      </div>
    </div>
  </div>
  <div class="container text-center">
    <div class="dash-container">
      <div class="row">
        <div class="dash-card col-md-2">
          <%= image_tag current_user.facebook_picture_url, class: "dashboard-avatar" %>
          <h3><%= current_user.first_name %></h3>
          <p>Berlin, Germany</p>
        </div>
        <div class="dash-list col-md-5">
          <div>
            <h3>My Items</h3>
            <% if current_user.items.any? %>
            <% current_user.items.each do |item|%>


            <%= render 'shared/dashboard_card', item: item %>

            <% end %>



            <% else %>
            <p>You have no current listings.</p>
            <%= link_to 'Add an item!', new_item_path, class: "btn btn-primary" %>
            <% end %>
          </div>
        </div>
        <div class="dash-list col-md-5">
          <div class="stats-rentals">
            <h3>My Rentals</h3>
            <% if current_user.transactions.any? %>
            <% current_user.transactions.each do |transaction| %>


            <%= render 'shared/dashboard_card', item: transaction.item %>


            <% end %>
            <% else %>
            <p>You have no current rentals.</p>
            <%= link_to 'Browse items!', items_path, class: "btn btn-primary" %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>


