  <div class="tabs-container">
    <div class="tabs">
      <div class="tab">
        <%= link_to 'Dashboard', dashboard_path %>
      </div>
      <div class="tab">
        <%= link_to 'Calendar', calendar_path %>
      </div>
      <div class="tab">
        <%= link_to 'Messages', messages_path %>
      </div>
    </div>
  </div>
    <div class="container text-center">
    <div class="profile-dashboard">
      <div class="dash-card main">
        <div class="main-section">
          <%= image_tag current_user.facebook_picture_url, class: "dashboard-avatar" %>
          <h3><%= current_user.first_name %> <%= current_user.last_name %></h3>
          <p>Berlin, Germany</p>
        </div>
      </div>
      <div class="dash-card stat">
        <div class="stats-listings">
          <h3>My Listings:</h3>
          <% if current_user.items %>
          <% current_user.items.each do |item|%>
          <%= link_to item_path(item) do %>
            <div class="card-listings"><%= item.name %></div>
            <% end %>
          <% end %>
          <% else %>
          <p>You have no current listings.</p>
          <%= link_to 'Add an item!', new_item_path %>
          <% end %>
        </div>
      </div>
      <div class="dash-card stat">
        <div class="stats-rentals">
          <h3>My Rentals</h3>
          <% if current_user.transactions %>
          <% current_user.transactions.each do |transaction|%>
            <div class="card-listings"><%= transaction.start_date %></div>
            <% end %>
          <% else %>
          <p>You have no current rentals.</p>
          <%= link_to 'Browse items!', items_path, class: "btn btn-primary" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>

