<div class="banner" style="background-image: url('<%= image_path 'home-banner.png' %>');">
  <%= render 'shared/navbar' %>
  <div class="container">
    <div class="banner-content">
      <h1>Helping makers get what they need<br>And lend what they don’t</h1>
      <div class="home-search form-inline">
        <%= simple_form_for(:search, url: items_path, html: { method: :get }) do |f| %>
          <span class="fa fa-search"></span>
          <%= f.input :name, label: false, placeholder: "What are you looking for?"%>
        <% end %>
      </div>
    </div>
  </div>
  <%= image_tag "home-wave.svg", class: "home-wave" %>
</div>

<%= render 'shared/category_button' %>


