<%= simple_form_for @item do |f| %>
  <% if @item.errors.any? %>
    <div id="error-explanation">
      <ul>
        <% @item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <%= f.input :name %>
  <%= f.input :description %>
  <%= f.input :address %>
  <%= f.input :price%>
  <%= f.input :category, collection: ["Electronics", "Home" , "Garden", "Outdoor"], prompt: "Select category"%>
  <%= f.input :photos, as: :attachinary %>
  <%= f.submit "Add", class: "btn btn-primary" %>
  <%= link_to 'Cancel', root_path, class: 'btn btn-danger'%>
<% end %>
