<%= simple_form_for(Transaction.new, url: new_transaction_path, method: :get) do |f| %>
<%= f.error_notification %>

<div class="form-inline">
  <%= f.date_field :start_date, 'data-provide': 'datepicker', class: 'datepicker' %>
  <%= f.date_field :end_date, 'data-provide': 'datepicker' %>
  <%= hidden_field_tag :item_id, (params[:id]) %>
  <%= hidden_field_tag :current_user, (current_user.id) %>
  <%= f.button :submit %>
</div>
<% end %>
