<%= simple_form_for :booking, url: new_transaction_path, method: :get  do |f| %>
<%= f.error_notification %>

<div class="form-inline">
  <%= f.input :start_date, as: :string, class: 'datepicker form-control', input_html: { 'data-provide': 'datepicker' }, label: false, placeholder: "Start date" %>
  <%= f.input :end_date, as: :string, class: 'datepicker form-control', input_html: { 'data-provide': 'datepicker' }, label: false, placeholder: "End date" %>
  <%= hidden_field_tag :item_id, (params[:id]) %>
  <%= hidden_field_tag :current_user, (current_user.id) %>
  <%= f.button :submit %>
</div>
<% end %>
