<div class="container">
  <div class="col-md-4 col-md-offset-4">


    <div class="transaction-box-wrapper">
      <div class="transaction-bg" style="background-image: url('<%=cl_image_path @item.photos.first.path, crop: :fill %>')">
      </div>
      <div class="transaction-box-body">
        <div class="transaction-title">
          <h1>Rental sumary:</h1>
          <h2><%= @item.name %></h2>
        </div>

        <div class="hline"></div>

        <div class="transaction-details">
          <p><i class="fa fa-calendar-o" aria-hidden="true"></i></p>
          <p><%= @transaction.start_date %></p>
          <p><i class="fa fa-arrow-right" aria-hidden="true"></i></p>
          <p><%= @transaction.end_date %></p>
        </div>
        <div class="transaction-details" style="text-indent: 43px;">
          <p>$<%= @item.price %> x <%= @transaction.rental_days %> days</p>
          <p>$<%= @transaction.final_price %></p>
        </div>
        <div class="transaction-details" style="text-indent: 43px;">
          <p>Delivery fee</p>
          <p>$8</p>
        </div>

        <div class="hline"></div>

        <div class="transaction-details" style="text-indent: 43px;">
          <p>Total price</p>
          <p>$<%= @transaction.final_price + 8 %></p>
        </div>

        <%= simple_form_for @transaction, url: item_transactions_path(@item) do |f| %>
        <div class="transaction-button-block">
          <%= f.submit "Confirm",class: "btn btn-primary transaction-button" %>
          <%= link_to "Cancel", root_path, class: 'btn btn-default transaction-button'%>
          <%= hidden_field_tag :start_date, (params[:transaction][:start_date]) %>
          <%= hidden_field_tag :end_date, (params[:transaction][:end_date]) %>
        </div>
        <% end %>
        </div>
      </div>
    </div>





  </div>
</div>
