<div class="review_form">
  <%= form_tag transaction_reviews_path(@transaction) do |f| %>
    <%= text_area_tag :transaction_review_text %>
    <%= text_area_tag :item_review_text  %>
    <%= f.number_field :rating, class: 'rating' %>
    <%= f.submit 'Add', class: 'btn btn-primary btn-danger' %>
  <% end  %>
</div>

<% @item.rating.to_i.times do  %>
 <span class="glyphicon glyphicon-star"></span>
<% end %>

<% @transaction.rating.to_i.times do  %>
 <span class="glyphicon glyphicon-star"></span>
<% end %>
